{% extends "workouts/base.html" %}
{% load static %}

{% block content %}
<!-- <div style="background-image: url('/media/gradient.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;"> -->
   <div class="container h-100 d-flex justify-content-center align-items-center" style="padding-bottom: 85px;">
      <div class="text-center">
         <ul class="list-unstyled">
            <li>
               <h1 class="display-4 font-weight-bold white-text" style="padding-top: 30px;">
                  What are you gonna workout today?
               </h1>
            </li>
            <li>
               <h3 class="white-text description mb-5 wow fadeIn" data-wow-delay="0.4s">
                  Search For Effective Workouts | {{ total_workouts }} Workouts Available
               </h3>
            </li>

            <hr>

            <form action="{% url 'workouts-search' %}" method="get">
                     <!--Accordion wrapper-->
               <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                  <!-- Accordion card -->
                  <div class="card">
                     <!-- Card header -->
                     <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                           <h5 class="mb-0">
                              Advanced Search <i class="fas fa-angle-down rotate-icon"></i>
                           </h5>
                           <small class="text-muted">Filter By Muscle Groups</small>
                        </a>
                     </div>
                     <!-- Card body -->
                     <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body" >
                           <!-- Material checked -->
                           <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" value="on" id="Chest" name="Chest">
                              <label class="form-check-label" for="Chest">Chest</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" value="on" id="Back" name="Back">
                              <label class="form-check-label" for="Back">Back</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" value="on" id="Legs" name="Legs">
                              <label class="form-check-label" for="Legs">Legs</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" value="on" id="Shoulders" name="Shoulders">
                              <label class="form-check-label" for="Shoulders">Shoulders</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" value="on" id="Triceps" name="Triceps">
                              <label class="form-check-label" for="Triceps">Triceps</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" value="on" id="Biceps" name="Biceps">
                              <label class="form-check-label" for="Biceps">Biceps</label>
                           </div>
                           <div class="form-check form-check-inline">
                              <input type="radio" class="form-check-input" value="on" id="Warmups" name="Warmups">
                              <label class="form-check-label" for="Warmups">Warmups</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Accordion card -->
               <li class="wow fadeIn" data-wow-delay="0.4s">
                  <div class="md-form mb-0" style="padding-top: 15px; padding-bottom: 15px;">
                     <input type="text" id="form51" class="form-control text-center" name="search" placeholder="Search for Workouts">
                  </div>
                  <button class="btn btn-white btn-rounded btn-lg" type="submit" style="margin: 10px;">
                  <i class="fas fa-search orange-text mr-2" aria-hidden="true"></i> Get Workouts</button>
               </li>
            </form>
         </ul>
      </div>
   </div>
</div>





{% endblock content %}





