{% extends "workouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="text-center">
      <h2>{{ user.profile.full_name }}</h2>
      <h3><small>{{ user.username }}, {{ user.email }}</small></h3>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        <div class="card hoverable" style="background-color:#f5f5f5">
          <div class="card-body">
            <ul class="list-unstyled">
              <h3>About</h3>
              <hr>
              <li>{{ user.profile.bio|safe|linebreaks }}</li>
              <br>
              <h4>Gender</h4>
              <hr>
              <li>{{ user.profile.gender }}</li>
              <br>
              <h4>Hometown</h4>
              <hr>
              <li>{{ user.profile.location }}</li>
              <br>
              <h4>Workout Style</h4>
              <hr>
              <li>{{ user.profile.workout_style }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card hoverable" style="background-color:#f5f5f5">
          <div class="card-body">
            <h3 class="text-center">{{ user.username }}'s Forums</h3>
        {% for forum  in forums %}
          {% if forum.user == user %}
            <div class="content-section" style="background-color:#f8f8ff">
              <h3><a href="{% url 'forum-detail' forum.id %}">{{ forum.title }}</a></h3>
              <p>{{ forum.description|safe|linebreaks }}</p>
              <hr>
              <small>{{ forum.user.username }}, {{ forum.created_at|date:"F d, Y" }}</small>
          </div>
          {% endif %}
        {% endfor %}
          </div>
        </div>
      </div>
    </div>

  <hr>

  <div class="content-section" style="background-color:#f5f5f5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="text-center">Update Your Profile</legend>
            <hr>
            <div style="margin-left: 30px;">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
            </div>

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
  </div>

</div>


{% endblock content %}
